node-red/smart_supermarket-flows.json
[{"id":"11b01065.87c36","type":"tab","label":"Shelves","disabled":false,"info":"Tutti i flussi riguardanti gli scaffali/banconi:\n\n1) Gestione temperature banco frigo\n2) Gestione prodotti presenti sugli scaffali"},{"id":"75994a9b.4846ac","type":"subflow","name":"TCP SET Raw value","info":"","in":[{"x":40,"y":80,"wires":[{"id":"8f0eb1ed.19dea"}]}],"out":[{"x":760,"y":80,"wires":[{"id":"f7b77fa8.c2f88","port":0}]}]},{"id":"9764201b.6e44f8","type":"subflow","name":"TCP GET Raw value","info":"","in":[{"x":40,"y":80,"wires":[{"id":"bb3021cf.9d2418"}]}],"out":[{"x":760,"y":80,"wires":[{"id":"e662febb.30f3f8","port":0}]}]},{"id":"1c278488.7d6afb","type":"subflow","name":"Mongo - Change product availability","info":"","in":[{"x":60,"y":60,"wires":[{"id":"e7503d24.97d288"}]}],"out":[{"x":850,"y":60,"wires":[{"id":"6035985e.0b62e","port":0}]}]},{"id":"dcdbb1c1.7b8b3","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Smart Supermarket Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"cc40c5fa.c756c8","type":"ui_tab","z":"","name":"Shelves","icon":"dashboard"},{"id":"fd9e676c.85fd6","type":"ui_group","z":"","name":"Temperature","tab":"cc40c5fa.c756c8","disp":true,"width":"12","collapse":false},{"id":"d8a581dc.b0cfa8","type":"mongodb2","z":"","uri":"mongodb://localhost/smart_supermarket","name":"Local MongoDB","options":"","parallelism":"-1"},{"id":"6c5f366c.b6c0f8","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"49992fa3.4072f","type":"inject","z":"11b01065.87c36","name":" temperature change crontab","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":false,"x":180,"y":120,"wires":[["56acca35.ed11bc"]]},{"id":"56acca35.ed11bc","type":"function","z":"11b01065.87c36","name":"generate random temperature","func":"function getRandomInt(min, max) {\n    return (Math.random() * (max - min + 1) + min).toFixed(1);\n}\n\nmsg = {};\nmsg.deviceId = \"S1_Temp\";\nmsg.value = getRandomInt(0.5, 3.5);\nmsg.payload = `Forced change temperature to ${msg.value}`;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":120,"wires":[["97546f0b.21e3a"]]},{"id":"9e926b17.bf9b5","type":"tcp request","z":"75994a9b.4846ac","server":"localhost","port":"9090","out":"time","splitc":"0","name":"tcp set request","x":340,"y":80,"wires":[["f7b77fa8.c2f88"]]},{"id":"8f0eb1ed.19dea","type":"function","z":"75994a9b.4846ac","name":"create request","func":"msg.payload = `SET ${msg.deviceId} ${msg.value}`;\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":80,"wires":[["9e926b17.bf9b5"]]},{"id":"97546f0b.21e3a","type":"subflow:75994a9b.4846ac","z":"11b01065.87c36","name":"","x":760,"y":120,"wires":[["e1f6b66.98aff48"]]},{"id":"2db8164c.4d9fda","type":"inject","z":"11b01065.87c36","name":"thermostat frequence","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":160,"y":180,"wires":[["f00043a8.e5bba"]]},{"id":"8373c38a.1aff38","type":"tcp request","z":"9764201b.6e44f8","server":"localhost","port":"9090","out":"time","splitc":"0","name":"tcp get request","x":340,"y":80,"wires":[["e662febb.30f3f8"]]},{"id":"bb3021cf.9d2418","type":"function","z":"9764201b.6e44f8","name":"create request","func":"msg.payload = `GET ${msg.deviceId}`;\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":80,"wires":[["8373c38a.1aff38"]]},{"id":"8b9591cd.db2128","type":"subflow:9764201b.6e44f8","z":"11b01065.87c36","name":"","x":380,"y":230,"wires":[["a5a8da7d.d083a"]]},{"id":"f00043a8.e5bba","type":"function","z":"11b01065.87c36","name":"generate get request","func":"msg = {};\nmsg.deviceId = \"S1_Temp\";\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":230,"wires":[["8b9591cd.db2128"]]},{"id":"a5a8da7d.d083a","type":"function","z":"11b01065.87c36","name":"adjust temperature","func":"function getAdjustment(preferred, actual) {\n    var adj = 0.0;\n    if (actual < preferred) {\n      adj = 0.1;\n    } else if (actual > preferred) {\n      adj = -0.1;\n    }\n    return (actual + adj).toFixed(1);\n}\nvar value = parseFloat(msg.value);\nmsg = {};\nmsg.deviceId = \"S1_Temp\";\nmsg.value = getAdjustment(2, value);\nmsg.payload = `Adjust temperature to ${msg.value}`;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":230,"wires":[["97546f0b.21e3a"]]},{"id":"e662febb.30f3f8","type":"function","z":"9764201b.6e44f8","name":"output","func":"msg.payload = `${msg.payload}`;\narray = msg.payload.split(\" \");\n\nmsg.responseStatus = array[0];\nif (msg.responseStatus === \"ERROR\") {\n    msg.errorCode = parseInt(array[1]);\n    msg.errorMessage = array.slice(2).join(\" \");\n    node.error(\"Error\", msg);\n}\n\nif (msg.responseStatus === \"OK\") {\n    msg.deviceId = array[1];\n    msg.value = array[2];\n    return msg;\n}","outputs":1,"noerr":0,"x":510,"y":80,"wires":[[]]},{"id":"f7b77fa8.c2f88","type":"function","z":"75994a9b.4846ac","name":"output","func":"msg.payload = `${msg.payload}`;\narray = msg.payload.split(\" \");\n\nmsg.responseStatus = array[0];\nif (msg.responseStatus === \"ERROR\") {\n    msg.errorCode = parseInt(array[1]);\n    msg.errorMessage = array.slice(2).join(\" \");\n    node.error(\"Error\", msg);\n}\n\nif (msg.responseStatus === \"OK\") {\n    msg.deviceId = array[1];\n    msg.value = array[2];\n    return msg;\n}","outputs":1,"noerr":0,"x":510,"y":80,"wires":[[]]},{"id":"9aa1207c.92a858","type":"catch","z":"75994a9b.4846ac","name":"Catch output errors","scope":["f7b77fa8.c2f88"],"x":550,"y":140,"wires":[["4d6e7492.fac554"]]},{"id":"4d6e7492.fac554","type":"debug","z":"75994a9b.4846ac","name":"Show errors","active":true,"console":"true","complete":"true","x":820,"y":140,"wires":[]},{"id":"993da07e.59b0e8","type":"catch","z":"9764201b.6e44f8","name":"Catch output errors","scope":["e662febb.30f3f8"],"x":550,"y":140,"wires":[["f0f56451.44e098"]]},{"id":"f0f56451.44e098","type":"debug","z":"9764201b.6e44f8","name":"Show errors","active":true,"console":"true","complete":"true","x":820,"y":140,"wires":[]},{"id":"68ddd92.8244b28","type":"ui_chart","z":"11b01065.87c36","name":"","group":"fd9e676c.85fd6","order":0,"width":"12","height":"6","label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-1","ymax":"6","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":960,"y":230,"wires":[[],[]]},{"id":"e1f6b66.98aff48","type":"function","z":"11b01065.87c36","name":"Convert result value","func":"var value = parseFloat(msg.value);\nmsg = {};\nmsg.payload = value;\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":180,"wires":[["68ddd92.8244b28"]]},{"id":"159861f5.55a226","type":"comment","z":"11b01065.87c36","name":"Temperature management","info":"","x":130,"y":60,"wires":[]},{"id":"afdea23d.426a3","type":"inject","z":"11b01065.87c36","name":"Check shelf frequence","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":160,"y":410,"wires":[["2881b278.ca7586"]]},{"id":"2881b278.ca7586","type":"function","z":"11b01065.87c36","name":"generate get request","func":"var index = context.get(\"deviceIndex\")||0;\nindex = (index % 5) + 1;\ncontext.set(\"deviceIndex\", index);\n\nmsg = {};\nmsg.deviceId = `S${index}_Rem`;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":410,"wires":[["53ce9ff8.da7678"]]},{"id":"53ce9ff8.da7678","type":"subflow:9764201b.6e44f8","z":"11b01065.87c36","name":"","x":610,"y":410,"wires":[["9f5ce68b.9d3fb8"]]},{"id":"9f5ce68b.9d3fb8","type":"function","z":"11b01065.87c36","name":"Continue only if a product has been taken","func":"msg.value = parseInt(msg.value);\n\nif (msg.value >= 0) {\n    return msg;\n}","outputs":1,"noerr":0,"x":240,"y":470,"wires":[["27f40b7b.7ed524","a9da32fe.0a0db8"]]},{"id":"7c9fb129.f87b9","type":"comment","z":"11b01065.87c36","name":"Products in shelves management","info":"","x":160,"y":350,"wires":[]},{"id":"27f40b7b.7ed524","type":"function","z":"11b01065.87c36","name":"reset value","func":"msg.value = -1;\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":470,"wires":[["73f398db.b1ac78"]]},{"id":"73f398db.b1ac78","type":"subflow:75994a9b.4846ac","z":"11b01065.87c36","name":"","x":860,"y":470,"wires":[[]]},{"id":"8275e4b6.c8e3d","type":"mongodb2 in","z":"1c278488.7d6afb","service":"_ext_","configNode":"d8a581dc.b0cfa8","name":"Shelves products collection","collection":"shelves","operation":"findOneAndUpdate","x":490,"y":60,"wires":[["6035985e.0b62e"]]},{"id":"da5e4e8d.63b578","type":"subflow:1c278488.7d6afb","z":"11b01065.87c36","x":840,"y":540,"wires":[[]]},{"id":"e7503d24.97d288","type":"function","z":"1c278488.7d6afb","name":"upsert product availability","func":"msg.payload = [\n    {\n        productId : msg.value,\n        shelf : msg.shelf\n    },\n    { $inc : { availability : msg.amount }},\n    {\n        upsert : true,\n        returnOriginal : false\n    }\n];\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":60,"wires":[["8275e4b6.c8e3d"]]},{"id":"6035985e.0b62e","type":"function","z":"1c278488.7d6afb","name":"format result","func":"var doc = msg.payload.value;\n\nmsg.deviceId = doc.shelf;\nmsg.value = doc.productId;\nmsg.availability = doc.availability;\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":60,"wires":[[]]},{"id":"a9da32fe.0a0db8","type":"function","z":"11b01065.87c36","name":"generate operation","func":"msg.shelf = msg.deviceId.replace(\"_Rem\",\"\");\nmsg.amount = -1;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":540,"wires":[["da5e4e8d.63b578"]]},{"id":"97df9e3d.1f581","type":"inject","z":"11b01065.87c36","name":"Check shelf frequence","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":160,"y":610,"wires":[["b6f3b481.63c228"]]},{"id":"b6f3b481.63c228","type":"function","z":"11b01065.87c36","name":"generate get request","func":"var index = context.get(\"deviceIndex\")||0;\nindex = (index % 5) + 1;\ncontext.set(\"deviceIndex\", index);\n\nmsg = {};\nmsg.deviceId = `S${index}_Add`;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":610,"wires":[["bcff46a7.06c658"]]},{"id":"bcff46a7.06c658","type":"subflow:9764201b.6e44f8","z":"11b01065.87c36","name":"","x":610,"y":610,"wires":[["4963073a.67a6b"]]},{"id":"4963073a.67a6b","type":"function","z":"11b01065.87c36","name":"Continue only if a product has been added","func":"msg.value = parseInt(msg.value);\n\nif (msg.value >= 0) {\n    return msg;\n}","outputs":1,"noerr":0,"x":240,"y":670,"wires":[["58731525.20ee64","1419e0e3.ef14c7"]]},{"id":"58731525.20ee64","type":"function","z":"11b01065.87c36","name":"reset value","func":"msg.value = -1;\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":670,"wires":[["2384c3ba.cb34dc"]]},{"id":"2384c3ba.cb34dc","type":"subflow:75994a9b.4846ac","z":"11b01065.87c36","name":"","x":860,"y":670,"wires":[[]]},{"id":"5dc37461.93b504","type":"subflow:1c278488.7d6afb","z":"11b01065.87c36","name":"","x":840,"y":740,"wires":[[]]},{"id":"1419e0e3.ef14c7","type":"function","z":"11b01065.87c36","name":"generate operation","func":"msg.shelf = msg.deviceId.replace(\"_Add\",\"\");\nmsg.amount = +1;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":740,"wires":[["5dc37461.93b504"]]}]